@use "functions" as *;

@mixin container {
  max-width: rem(1240);
  padding: 0 rem(40);
  margin: 0 auto;

  @include screen-500() {
    padding: 0 rem(16);
  }
}

// RESPONSIVIDADE
@mixin screen-820 {
  @media (max-width: rem(820)) {
    @content;
  }
}

@mixin screen-1030 {
  @media (max-width: rem(1030)) {
    @content;
  }
}

@mixin screen-500 {
  @media (max-width: rem(500)) {
    @content;
  }
}

@mixin screen-700 {
  @media (max-width: rem(700)) {
    @content;
  }
}

@mixin screen-320 {
  @media (max-width: rem(320)) {
    @content;
  }
}
