*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

select {
  border: none;
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Comfortaa", cursive;
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
  background-color: #111827;
}

.btn:link,
.btn:visited {
  display: inline-block;
  border: 1px solid #4338ca;
  box-shadow: 0px 2px 6px rgba(55, 48, 163, 0.25);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  color: #f9fafb;
}
.btn:link:hover,
.btn:visited:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
@media (max-width: 51.25rem) {
  .btn:link,
.btn:visited {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
  }
}

.btn--fill:link,
.btn--fill:visited {
  background: #312e81;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}
.btn--fill:link:hover, .btn--fill:link:active,
.btn--fill:visited:hover,
.btn--fill:visited:active {
  background: #4f46e5;
}

.btn--transparent:link,
.btn--transparent:visited {
  transition: 0.4s ease-in-out;
  text-transform: uppercase;
}
.btn--transparent:link:hover, .btn--transparent:link:active,
.btn--transparent:visited:hover,
.btn--transparent:visited:active {
  background: #4338ca;
}

section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.header {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  padding-top: 2.25rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5rem;
}
@media (max-width: 31.25rem) {
  .header {
    padding: 0 1rem;
  }
}
.header .menu-mobile {
  display: none;
}
@media (max-width: 51.25rem) {
  .header {
    margin-bottom: 3.75rem;
    padding-top: 1rem;
  }
  .header .menu-mobile {
    background: none;
    border: none;
    width: 3rem;
    color: #f3f4f6;
    align-self: start;
    display: block;
  }
  .header .menu-mobile .menu {
    display: block;
  }
  .header .menu-mobile .menu.active {
    display: none;
  }
  .header .menu-mobile .close {
    display: none;
    justify-self: end;
  }
  .header .menu-mobile .close.active {
    display: block;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header__nav .header__list {
  display: flex;
  gap: 1.5rem;
}
.header__nav .header__list .header__link:link,
.header__nav .header__list .header__link:visited {
  color: #f9fafb;
  transition: 0.4s ease-in-out;
  position: relative;
}
.header__nav .header__list .header__link:link::after,
.header__nav .header__list .header__link:visited::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #6366f1;
  position: absolute;
  bottom: -8px;
  transition: 0.4s ease-in-out;
}
.header__nav .header__list .header__link:link:hover, .header__nav .header__list .header__link:link:active,
.header__nav .header__list .header__link:visited:hover,
.header__nav .header__list .header__link:visited:active {
  color: #6366f1;
}
.header__nav .header__list .header__link:link:hover::after,
.header__nav .header__list .header__link:visited:hover::after {
  width: 100%;
}
@media (max-width: 51.25rem) {
  .header__nav {
    display: grid;
    gap: 1.25rem;
    justify-items: center;
    text-align: center;
    background: #1f2937;
    padding: 1.25rem;
    display: none;
    position: absolute;
    top: 6.25rem;
    right: 1.25rem;
  }
  .header__nav .header__list {
    display: grid;
    gap: 1rem;
  }
  .header__nav.active {
    display: grid;
  }
}

.hero {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 10rem;
}
@media (max-width: 31.25rem) {
  .hero {
    padding: 0 1rem;
  }
}
@media (max-width: 51.25rem) {
  .hero {
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }
}
.hero__content {
  display: grid;
  justify-items: start;
  align-content: start;
  gap: 3rem;
}
@media (max-width: 51.25rem) {
  .hero__content {
    text-align: center;
  }
}
@media (max-width: 20rem) {
  .hero__content {
    gap: 2rem;
  }
}
.hero__content .hero__title {
  font: 700 4rem/1.12 "Comfortaa", cursive;
  color: #f5f5f5;
}
@media (max-width: 64.375rem) {
  .hero__content .hero__title {
    font-size: 2.75rem;
  }
}
@media (max-width: 31.25rem) {
  .hero__content .hero__title {
    font-size: 2rem;
    line-height: 1.33;
  }
}
@media (max-width: 20rem) {
  .hero__content .hero__title {
    font-size: 1.5rem;
  }
}
.hero__content .hero__title .hero__details {
  color: #4338ca;
}
.hero__content .btn__box {
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 51.25rem) {
  .hero__content .btn__box {
    justify-self: center;
  }
}
@media (max-width: 20rem) {
  .hero__content .btn__box {
    gap: 1rem;
    flex-direction: column;
  }
}
.hero__img {
  object-fit: cover;
}
@media (max-width: 51.25rem) {
  .hero__img {
    display: none;
  }
}

.about {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  margin-bottom: 10rem;
}
@media (max-width: 31.25rem) {
  .about {
    padding: 0 1rem;
  }
}
@media (max-width: 31.25rem) {
  .about {
    margin-bottom: 3.75rem;
  }
}
.about__title {
  font: 700 4rem/1.12 "Comfortaa", cursive;
  color: #f5f5f5;
  justify-self: center;
  margin-bottom: 5rem;
  position: relative;
}
@media (max-width: 64.375rem) {
  .about__title {
    font-size: 2.75rem;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 31.25rem) {
  .about__title {
    margin-bottom: 3.75rem;
  }
}
.about__title::before {
  content: "";
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  border: 2px solid #4338ca;
  box-shadow: 0px 0px 10px rgba(165, 180, 252, 0.25);
  position: absolute;
  top: 10px;
  left: -10px;
  z-index: -1;
}
@media (max-width: 64.375rem) {
  .about__title::before {
    width: 42px;
    height: 42px;
  }
}
.about__title::after {
  content: "";
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background: #6c63ff;
  opacity: 0.5;
  position: absolute;
  top: 4px;
  left: -4px;
  z-index: -1;
}
@media (max-width: 64.375rem) {
  .about__title::after {
    width: 42px;
    height: 42px;
  }
}
.about__info {
  display: grid;
  align-items: center;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 7.5rem;
}
@media (max-width: 51.25rem) {
  .about__info {
    grid-template-columns: auto;
    gap: 0;
  }
  .about__info img {
    display: none;
  }
}
@media (max-width: 31.25rem) {
  .about__info {
    margin-bottom: 3.75rem;
  }
}
.about__info .about__img-box {
  position: relative;
}
.about__info .about__img-box .about__redes {
  display: grid;
  gap: 1.25rem;
  position: absolute;
  top: 0;
}
@media (max-width: 51.25rem) {
  .about__info .about__img-box .about__redes {
    display: none;
  }
}
.about__info .about__img-box .about__redes a:link,
.about__info .about__img-box .about__redes a:visited {
  transition: 0.4s ease-in-out;
}
.about__info .about__img-box .about__redes a:link:hover:hover, .about__info .about__img-box .about__redes a:link:active:hover,
.about__info .about__img-box .about__redes a:visited:hover:hover,
.about__info .about__img-box .about__redes a:visited:active:hover {
  transform: translateY(-4px);
}
.about__info .about__img-box .about__redes .about-icon {
  width: 2rem;
  fill: #a5b4fc;
}
.about__info .about__img-box .about__redes .mentor path {
  fill: #a5b4fc;
}
.about__info .about__img-box .about__clock {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/about-icon/clock.png);
  background-size: cover;
  border: 4px solid #1b2021;
  border-radius: 50%;
  box-shadow: -4px -4px 6px rgba(60, 60, 60, 0.5), inset 4px 4px 6px rgba(0, 0, 0, 0.5), inset -4px -4px 6px rgba(60, 60, 60, 0.3), 4px 4px 6px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0;
  right: 60px;
}
.about__info .about__img-box .about__clock::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 15;
}
@media (max-width: 64.375rem) {
  .about__info .about__img-box .about__clock {
    right: 10px;
  }
}
@media (max-width: 51.25rem) {
  .about__info .about__img-box .about__clock {
    display: none;
  }
}
.about__info .about__img-box .about__clock .hour,
.about__info .about__img-box .about__clock .minute,
.about__info .about__img-box .about__clock .second {
  position: absolute;
}
.about__info .about__img-box .about__clock .hour {
  width: 40px;
  height: 40px;
}
.about__info .about__img-box .about__clock .hour .hr {
  width: 40px;
  height: 40px;
}
.about__info .about__img-box .about__clock .minute {
  width: 60px;
  height: 60px;
}
.about__info .about__img-box .about__clock .minute .min {
  width: 60px;
  height: 60px;
}
.about__info .about__img-box .about__clock .second {
  width: 60px;
  height: 60px;
}
.about__info .about__img-box .about__clock .second .sec {
  width: 60px;
  height: 60px;
}
.about__info .about__img-box .about__clock .hr,
.about__info .about__img-box .about__clock .min,
.about__info .about__img-box .about__clock .sec {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.about__info .about__img-box .about__clock .hr::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #ff3d68;
  z-index: 10;
  border-radius: 10px;
}
.about__info .about__img-box .about__clock .min::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background: #ffffff;
  z-index: 11;
  border-radius: 8px;
}
.about__info .about__img-box .about__clock .sec::before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 35px;
  background: #39a2db;
  z-index: 12;
  border-radius: 2px;
}
.about__info .about__desc-box {
  display: grid;
  align-content: start;
  gap: 2.25rem;
}
.about__info .about__desc-box .about__desc {
  font: 400 1.25rem/1.5 "Comfortaa", cursive;
  color: #f3f4f6;
}
@media (max-width: 64.375rem) {
  .about__info .about__desc-box .about__desc {
    font-size: 1rem;
  }
}
.about__info .about__desc-box .about__list {
  display: grid;
  align-content: start;
  gap: 1rem;
}
@media (max-width: 51.25rem) {
  .about__info .about__desc-box .about__list {
    gap: 0.5rem;
  }
}
.about__info .about__desc-box .about__list .about__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.about__info .about__desc-box .about__list .about__item .cal {
  width: 1.5rem;
  color: #a5b4fc;
  fill: #a5b4fc;
}
@media (max-width: 31.25rem) {
  .about__info .about__desc-box .about__list .about__item .cal {
    width: 1.125rem;
  }
}
.about__info .about__desc-box .about__list .about__item .about__name {
  font: 700 0.875rem/1.43 "Comfortaa", cursive;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #6c63ff;
}
@media (max-width: 64.375rem) {
  .about__info .about__desc-box .about__list .about__item .about__name {
    font-size: 0.75rem;
  }
}
@media (max-width: 31.25rem) {
  .about__info .about__desc-box .about__list .about__item .about__name {
    font-size: 0.625rem;
  }
}
@media (max-width: 20rem) {
  .about__info .about__desc-box .about__list .about__item .about__name {
    font-size: 0.5rem;
  }
}
.about__info .about__desc-box .about__list .about__item .about__res {
  color: #f5f5f5;
}
@media (max-width: 31.25rem) {
  .about__info .about__desc-box .about__list .about__item .about__res {
    font-size: 0.625rem;
  }
}
@media (max-width: 20rem) {
  .about__info .about__desc-box .about__list .about__item .about__res {
    font-size: 0.5rem;
  }
}
.about__studies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}
@media (max-width: 43.75rem) {
  .about__studies {
    grid-template-columns: 1fr;
  }
}
.about__studies .about__formation {
  display: grid;
  align-content: start;
  justify-items: start;
  position: relative;
}
.about__studies .about__formation .cal {
  width: 1.5rem;
  color: #a5b4fc;
  fill: #a5b4fc;
}
.about__studies .about__formation .about__subtitle {
  display: flex;
  gap: 0.625rem;
  font: 700 1.125rem/1.33 "Comfortaa", cursive;
  text-transform: uppercase;
  color: #a5b4fc;
  margin-bottom: 1.5rem;
}
.about__studies .about__formation .about__studies-list {
  display: grid;
  gap: 0.375rem;
}
.about__studies .about__formation .about__studies-list .about__studies-item {
  font: 700 1rem/1.5 "Comfortaa", cursive;
  color: #e5e7eb;
}
.about__studies .about__formation .about__studies-list .about__studies-item:nth-child(2) {
  display: grid;
  gap: 0.25rem;
  font: 700 0.875rem/1.43 "Comfortaa", cursive;
  margin-bottom: 2.5rem;
}
@media (max-width: 51.25rem) {
  .about__studies .about__formation .about__studies-list .about__studies-item:nth-child(2) {
    margin-bottom: 1.25rem;
  }
}
.about__studies .about__formation .about__studies-list .about__studies-item:nth-child(2) span {
  color: #9ca3af;
}
.about__studies .about__course .about__subtitle {
  display: flex;
  gap: 0.625rem;
  font: 700 1.125rem/1.33 "Comfortaa", cursive;
  text-transform: uppercase;
  color: #a5b4fc;
  margin-bottom: 1.5rem;
}
.about__studies .about__course .about__subtitle .cal {
  width: 1.5rem;
  color: #a5b4fc;
  fill: #a5b4fc;
}
.about__studies .about__course .about__course-1 {
  margin-bottom: 1.25rem;
}
.about__studies .about__course .about__course-1 .about__course-name {
  border: none;
  background: none;
  display: inline-block;
  font: 600 1rem/1.33 "Comfortaa", cursive;
  color: #f5f5f5;
  cursor: pointer;
  margin-bottom: 0.75rem;
  text-align: left;
  position: relative;
  transition: 0.4s ease-in-out;
}
.about__studies .about__course .about__course-1 .about__course-name:hover {
  color: #4338ca;
}
.about__studies .about__course .about__course-1 .about__course-name.active {
  color: #4338ca;
  height: 100%;
  padding: 0.25rem;
}
@media (max-width: 64.375rem) {
  .about__studies .about__course .about__course-1 .about__course-name {
    font-size: 0.875rem;
    justify-self: start;
  }
}
.about__studies .about__course .about__course-1 .about__course-info {
  max-width: 26.25rem;
  background: #1f2937;
  padding: 2rem 1.5rem;
  border: 1px solid #4f46e5;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(165, 180, 252, 0.4);
  display: none;
  transition: opacity 1.3s ease-in-out, filter 1.3s ease-in-out;
}
@media (max-width: 51.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info {
    padding: 1rem 0.75rem;
  }
}
.about__studies .about__course .about__course-1 .about__course-info.active {
  display: block;
  animation: transtionBlur 1.3s forwards;
}
@keyframes transtionBlur {
  0% {
    opacity: 0;
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
.about__studies .about__course .about__course-1 .about__course-info--title {
  display: flex;
  gap: 0.5rem;
  font: 700 1rem/1.5 "Comfortaa", cursive;
  color: #fff;
  margin-bottom: 1.5rem;
}
@media (max-width: 51.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info--title {
    font-size: 0.875rem;
  }
}
@media (max-width: 31.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info--title {
    padding-left: 0;
  }
}
.about__studies .about__course .about__course-1 .about__course-info--title .cal {
  width: 1.5rem;
  color: #a5b4fc;
  fill: #a5b4fc;
}
@media (max-width: 51.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info--title .cal {
    width: 1rem;
  }
}
.about__studies .about__course .about__course-1 .about__course-info .bottom {
  margin-bottom: 0.5rem;
}
.about__studies .about__course .about__course-1 .about__course-info .about__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  max-width: 27.5rem;
}
@media (max-width: 51.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info .about__tags {
    padding-left: 1rem;
  }
}
@media (max-width: 31.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info .about__tags {
    padding-left: 0;
  }
}
.about__studies .about__course .about__course-1 .about__course-info .about__tags span {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #312e81;
  border-radius: 4px;
  color: #f9fafb;
}
@media (max-width: 51.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info .about__tags span {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}
.about__studies .about__course .about__course-1 .about__course-info .link__project:link,
.about__studies .about__course .about__course-1 .about__course-info .link__project:visited {
  display: block;
  max-width: max-content;
  margin-left: 1.875rem;
  color: #a5b4fc;
  margin-bottom: 2.25rem;
  position: relative;
  transition: 0.4s ease-in-out;
}
@media (max-width: 51.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info .link__project:link,
.about__studies .about__course .about__course-1 .about__course-info .link__project:visited {
    margin-left: 0.9375rem;
  }
}
@media (max-width: 31.25rem) {
  .about__studies .about__course .about__course-1 .about__course-info .link__project:link,
.about__studies .about__course .about__course-1 .about__course-info .link__project:visited {
    margin-left: 0;
  }
}
.about__studies .about__course .about__course-1 .about__course-info .link__project:link::after,
.about__studies .about__course .about__course-1 .about__course-info .link__project:visited::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
}
.about__studies .about__course .about__course-1 .about__course-info .link__project:link:hover,
.about__studies .about__course .about__course-1 .about__course-info .link__project:visited:hover {
  color: #4338ca;
}

.skills {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  margin-bottom: 10rem;
}
@media (max-width: 31.25rem) {
  .skills {
    padding: 0 1rem;
  }
}
@media (max-width: 51.25rem) {
  .skills {
    margin-bottom: 3.75rem;
  }
}
.skills__techs {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
@media (max-width: 43.75rem) {
  .skills__techs {
    justify-content: center;
  }
}
.skills__techs .skills__list {
  width: 16.25rem;
  padding: 4.5rem 1.25rem;
  background-color: #1f2937;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  display: grid;
  align-content: start;
}
.skills__techs .skills__list .circle:link,
.skills__techs .skills__list .circle:visited {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #302f86;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.skills__techs .skills__list .circle:link:hover, .skills__techs .skills__list .circle:link:active,
.skills__techs .skills__list .circle:visited:hover,
.skills__techs .skills__list .circle:visited:active {
  background: #4f46e5;
}
.skills__techs .skills__list .circle:link svg,
.skills__techs .skills__list .circle:visited svg {
  width: 2rem;
  color: #f5f5f5;
}
.skills__techs .skills__list .skills__items .skills__icon {
  width: 5.9375rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.skills__techs .skills__list .skills__items .skills__title {
  font: 700 0.875rem/1.43 "Comfortaa", cursive;
  text-transform: uppercase;
  color: #d1d5db;
  margin-bottom: 0.75rem;
}
.skills__techs .skills__list .skills__items .skills__desc {
  font: 700 1rem/1.5 "Comfortaa", cursive;
  color: #f3f4f6;
}

.projects {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  margin-bottom: 10rem;
  justify-items: start;
}
@media (max-width: 31.25rem) {
  .projects {
    padding: 0 1rem;
  }
}
@media (max-width: 64.375rem) {
  .projects {
    justify-items: center;
  }
}
@media (max-width: 51.25rem) {
  .projects {
    margin-bottom: 3.75rem;
  }
}
.projects .projects__box {
  display: flex;
  margin-bottom: 5rem;
}
@media (max-width: 64.375rem) {
  .projects .projects__box {
    flex-direction: column;
  }
  .projects .projects__box > img {
    display: none;
  }
}
.projects .projects__box .projects__display {
  max-width: 37.5rem;
  height: 100%;
  height: 27.5rem;
  border-radius: 1.875rem 1.875rem 0 0;
  background-color: #1f2937;
  display: grid;
}
.projects .projects__box .projects__display img {
  height: 100%;
}
.projects .projects__box .projects__display .projects__aba {
  grid-area: 1/-1;
  align-self: start;
  margin: 1.25rem;
  display: flex;
}
@media (max-width: 31.25rem) {
  .projects .projects__box .projects__display .projects__aba {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
}
.projects .projects__box .projects__display .projects__aba .projects__icons {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
}
@media (max-width: 31.25rem) {
  .projects .projects__box .projects__display .projects__aba .projects__icons {
    margin-right: 0.375rem;
  }
}
.projects .projects__box .projects__display .projects__aba .projects__icons .projects__arrows {
  display: flex;
  gap: 0.25rem;
}
@media (max-width: 31.25rem) {
  .projects .projects__box .projects__display .projects__aba .projects__icons .projects__arrows {
    gap: 0.125rem;
  }
}
.projects .projects__box .projects__display .projects__aba .projects__icons .projects__arrows img {
  width: 14px;
}
.projects .projects__box .projects__display .projects__aba .projects__icons img {
  width: 16px;
}
.projects .projects__box .projects__display .projects__aba .projects__url {
  width: 100%;
  height: 1.25rem;
  background: #4b5563;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.625rem;
}
@media (max-width: 20rem) {
  .projects .projects__box .projects__display .projects__aba .projects__url {
    padding: 0.25rem;
    max-width: max-content;
  }
}
.projects .projects__box .projects__display .projects__aba .projects__url .projects__link {
  display: inline-block;
  font: 700 0.625rem/1.43 "Comfortaa", cursive;
  color: #f5f5f5;
}
@media (max-width: 31.25rem) {
  .projects .projects__box .projects__display .projects__aba .projects__url .projects__link {
    font-size: 0.5rem;
  }
}
.projects .projects__box .projects__display .projects__img {
  grid-area: 1/-1;
  height: 23.4375rem;
  align-self: end;
}
@media (max-width: 31.25rem) {
  .projects .projects__box .projects__display .projects__img {
    object-fit: cover;
    object-position: center;
  }
}
.projects .projects__box .projects__info {
  width: 24.6875rem;
  background: #1f2937;
  border: 1px solid #4f46e5;
  box-shadow: 0px 0px 2px rgba(165, 180, 252, 0.4);
  border-radius: 8px;
  padding: 2rem 1.25rem;
  position: relative;
}
@media (max-width: 64.375rem) {
  .projects .projects__box .projects__info {
    width: 100%;
    border-radius: 0;
  }
  .projects .projects__box .projects__info .projects__content {
    text-align: center;
  }
}
@media (max-width: 43.75rem) {
  .projects .projects__box .projects__info {
    padding: 1rem 0.625rem;
  }
}
.projects .projects__box .projects__info::after {
  content: "";
  width: 18px;
  height: 78px;
  background: url(/assets/img/retangulo.svg) no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
@media (max-width: 31.25rem) {
  .projects .projects__box .projects__info::after {
    display: none;
  }
}
.projects .projects__box .projects__info .projects__title {
  font: 700 1.125rem/1.33 "Comfortaa";
  text-transform: uppercase;
  color: #f3f4f6;
  margin-bottom: 1.5rem;
}
.projects .projects__box .projects__info .projects__desc {
  font: 400 1rem/1.5 "Comfortaa";
  color: #a5b4fc;
  margin-bottom: 0.75rem;
}
.projects .projects__box .projects__info .projects__list {
  display: grid;
  gap: 0.625rem;
  color: #f5f5f5;
  margin-bottom: 5rem;
}
@media (max-width: 64.375rem) {
  .projects .projects__box .projects__info .projects__list {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 31.25rem) {
  .projects .projects__box .projects__info .projects__list {
    display: flex;
    margin-bottom: 2.5rem;
  }
}
.projects .projects__box .projects__info .projects__list .projects__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.projects .projects__box .projects__info .projects__list .projects__item span {
  font: 700 0.875rem/1.8 "Comfortaa";
  text-transform: uppercase;
}
.projects .projects__box .projects__info .projects__list .projects__item .check {
  width: 1.5rem;
  color: #4f46e5;
}
.projects .btn__box {
  display: grid;
  justify-content: start;
  gap: 1.25rem;
}
@media (max-width: 64.375rem) {
  .projects .btn__box {
    display: flex;
    justify-content: center;
  }
}
.projects .btn__box .btn--transparent {
  justify-self: stretch;
}
.projects .btn--transparent {
  justify-self: center;
}

.footer-bg {
  background: #1f2937;
  padding: 5rem 8.75rem;
  position: relative;
}
@media (max-width: 64.375rem) {
  .footer-bg {
    padding: 2.5rem 1rem;
  }
}
.footer-bg::before {
  content: "";
  display: block;
  width: 4.1875rem;
  height: 5.8125rem;
  background: url(../img/footer-icon/details-footer.svg) no-repeat;
  position: absolute;
  top: -40px;
  left: 50px;
}
@media (max-width: 64.375rem) {
  .footer-bg::before {
    display: none;
  }
}
.footer-bg .footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
@media (max-width: 51.25rem) {
  .footer-bg .footer {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
.footer-bg .footer .footer__title {
  font: 700 1.25rem/22px "Comfortaa";
  text-transform: uppercase;
  color: #c7d2fe;
  margin-bottom: 1.5rem;
}
.footer-bg .footer .footer__contact {
  display: grid;
  gap: 1rem;
  margin-bottom: 3.75rem;
}
.footer-bg .footer .footer__contact .footer__link:link,
.footer-bg .footer .footer__contact .footer__link:visited {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #f5f5f5;
}
.footer-bg .footer .footer__contact .footer__link:link svg,
.footer-bg .footer .footer__contact .footer__link:visited svg {
  width: 1rem;
}
.footer-bg .footer .footer__list {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3.75rem;
}
.footer-bg .footer .footer__list .about-icon {
  width: 2rem;
  fill: #a5b4fc;
}
.footer-bg .footer .footer__list .mentor path {
  fill: #a5b4fc;
}
.footer-bg .footer .footer__copy {
  font: 400 1rem/1.12 "Comfortaa";
  color: #9ca3af;
}
@media (max-width: 64.375rem) {
  .footer-bg .footer .footer__frontend {
    grid-row: 1;
  }
}
.footer-bg .footer .footer__frontend .footer__desc {
  font: 400 1rem/1.5 "Comfortaa";
  color: #f5f5f5;
  margin-bottom: 2.25rem;
}

/*# sourceMappingURL=style.css.map */
