*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus,
*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

select {
  border: none;
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Comfortaa", cursive;
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
  background-color: #111827;
}

.btn:link,
.btn:visited {
  display: inline-block;
  border: 1px solid #4338ca;
  box-shadow: 0px 2px 6px rgba(55, 48, 163, 0.25);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  color: #f9fafb;
}

.btn--fill:link,
.btn--fill:visited {
  background: #312e81;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}
.btn--fill:link:hover, .btn--fill:link:active,
.btn--fill:visited:hover,
.btn--fill:visited:active {
  background: #4f46e5;
}

.btn--transparent:link,
.btn--transparent:visited {
  transition: 0.4s ease-in-out;
  text-transform: uppercase;
}
.btn--transparent:link:hover, .btn--transparent:link:active,
.btn--transparent:visited:hover,
.btn--transparent:visited:active {
  background: #4338ca;
}

.header {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  padding-top: 2.25rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5rem;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header__nav .header__list {
  display: flex;
  gap: 1.5rem;
}
.header__nav .header__list .header__link:link,
.header__nav .header__list .header__link:visited {
  color: #f9fafb;
}

.hero {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 10rem;
}
.hero__content {
  display: grid;
  justify-items: start;
  align-content: start;
  gap: 3rem;
}
.hero__content .hero__title {
  font: 700 4.1294642857rem "Comfortaa", cursive;
  color: #f5f5f5;
}
.hero__content .hero__title .hero__details {
  color: #4338ca;
}
.hero__content .btn__box {
  display: flex;
  gap: 1.25rem;
}

.about {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  margin-bottom: 10rem;
}
.about__title {
  font: 700 4rem/1.12 "Comfortaa", cursive;
  color: #f5f5f5;
  justify-self: center;
  margin-bottom: 5rem;
  position: relative;
}
.about__title::before {
  content: "";
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  border: 2px solid #4338ca;
  box-shadow: 0px 0px 10px rgba(165, 180, 252, 0.25);
  position: absolute;
  top: 10px;
  left: -10px;
  z-index: -1;
}
.about__title::after {
  content: "";
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background: #6c63ff;
  opacity: 0.5;
  position: absolute;
  top: 4px;
  left: -4px;
  z-index: -1;
}
.about__info {
  display: grid;
  align-items: center;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 7.5rem;
}
.about__info .about__desc-box {
  display: grid;
  align-content: start;
  gap: 2.25rem;
}
.about__info .about__desc-box .about__desc {
  font: 400 1.25rem/1.5 "Comfortaa", cursive;
  color: #f3f4f6;
}
.about__info .about__desc-box .about__list {
  display: grid;
  gap: 1rem;
}
.about__info .about__desc-box .about__list .about__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.about__info .about__desc-box .about__list .about__item .about__name {
  font: 700 0.875rem/1.43 "Comfortaa", cursive;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #6c63ff;
}
.about__info .about__desc-box .about__list .about__item .about__res {
  color: #f5f5f5;
}
.about__studies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}
.about__studies .about__formation {
  display: grid;
  align-content: start;
  justify-items: start;
  position: relative;
}
.about__studies .about__formation .about__subtitle {
  display: flex;
  gap: 0.625rem;
  font: 700 1.125rem/1.33 "Comfortaa", cursive;
  text-transform: uppercase;
  color: #a5b4fc;
  margin-bottom: 1.5rem;
}
.about__studies .about__formation .about__studies-list {
  display: grid;
  gap: 0.375rem;
}
.about__studies .about__formation .about__studies-list .about__studies-item {
  font: 700 1rem/1.5 "Comfortaa", cursive;
  color: #e5e7eb;
}
.about__studies .about__formation .about__studies-list .about__studies-item:nth-child(2) {
  display: grid;
  gap: 0.25rem;
  font: 700 0.875rem/1.43 "Comfortaa", cursive;
  margin-bottom: 2.5rem;
}
.about__studies .about__formation .about__studies-list .about__studies-item:nth-child(2) span {
  color: #9ca3af;
}
.about__studies .about__course .about__subtitle {
  display: flex;
  gap: 0.625rem;
  font: 700 1.125rem/1.33 "Comfortaa", cursive;
  text-transform: uppercase;
  color: #a5b4fc;
  margin-bottom: 1.5rem;
}
.about__studies .about__course .about__course-1 .about__course {
  display: inline-block;
  font: 600 1.125rem/1.33 "Comfortaa", cursive;
  color: #f5f5f5;
  cursor: pointer;
  margin-bottom: 0.75rem;
}
.about__studies .about__course .about__course-1 .about__course-info {
  max-width: 26.25rem;
  background: #1f2937;
  padding: 2rem 1.5rem;
  border: 1px solid #4f46e5;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(165, 180, 252, 0.4);
}
.about__studies .about__course .about__course-1 .about__course-info--title {
  display: flex;
  gap: 0.5rem;
  font: 700 1rem/1.5 "Comfortaa", cursive;
  color: #fff;
  margin-bottom: 1.5rem;
}
.about__studies .about__course .about__course-1 .about__course-info .bottom {
  margin-bottom: 0.5rem;
}
.about__studies .about__course .about__course-1 .about__course-info .about__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
  padding-left: 2.8125rem;
  max-width: 27.5rem;
}
.about__studies .about__course .about__course-1 .about__course-info .about__tags span {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #312e81;
  border-radius: 4px;
  color: #f9fafb;
}
.about__studies .about__course .about__course-1 .about__course-info .link__project:link,
.about__studies .about__course .about__course-1 .about__course-info .link__project:visited {
  display: block;
  max-width: max-content;
  margin-left: 1.875rem;
  color: #a5b4fc;
  margin-bottom: 2.25rem;
  position: relative;
  transition: 0.4s ease-in-out;
}
.about__studies .about__course .about__course-1 .about__course-info .link__project:link::after,
.about__studies .about__course .about__course-1 .about__course-info .link__project:visited::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
}
.about__studies .about__course .about__course-1 .about__course-info .link__project:link:hover,
.about__studies .about__course .about__course-1 .about__course-info .link__project:visited:hover {
  color: #4338ca;
}

.skills {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  margin-bottom: 10rem;
}
.skills__techs {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.skills__techs .skills__list {
  width: 16.25rem;
  padding: 4.5rem 1.25rem;
  background-color: #1f2937;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}
.skills__techs .skills__list .circle {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #302f86;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
}
.skills__techs .skills__list .skills__items .skills__icon {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.skills__techs .skills__list .skills__items .skills__title {
  font: 700 0.875rem/1.43 "Comfortaa", cursive;
  text-transform: uppercase;
  color: #d1d5db;
  margin-bottom: 0.75rem;
}
.skills__techs .skills__list .skills__items .skills__desc {
  font: 700 1rem/1.5 "Comfortaa", cursive;
  color: #f3f4f6;
}

.projects {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  margin-bottom: 10rem;
  justify-items: start;
}
.projects .projects__box {
  display: flex;
  margin-bottom: 5rem;
}
.projects .projects__box .projects__display {
  max-width: 37.5rem;
  height: 27.5rem;
  border-radius: 1.875rem 1.875rem 0 0;
  background-color: #1f2937;
  display: grid;
}
.projects .projects__box .projects__display .projects__aba {
  grid-area: 1/-1;
  align-self: start;
  margin: 1.25rem;
  display: flex;
}
.projects .projects__box .projects__display .projects__aba .projects__icons {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
}
.projects .projects__box .projects__display .projects__aba .projects__icons .projects__arrows {
  display: flex;
  gap: 0.25rem;
}
.projects .projects__box .projects__display .projects__aba .projects__icons .projects__arrows img {
  width: 16px;
}
.projects .projects__box .projects__display .projects__aba .projects__icons img {
  width: 16px;
}
.projects .projects__box .projects__display .projects__aba .projects__url {
  width: 25rem;
  height: 1.25rem;
  background: #4b5563;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.625rem;
}
.projects .projects__box .projects__display .projects__aba .projects__url .projects__link {
  display: inline-block;
  font: 700 0.625rem/1.43 "Comfortaa", cursive;
  color: #f5f5f5;
}
.projects .projects__box .projects__display .projects__img {
  grid-area: 1/-1;
  height: 23.4375rem;
  align-self: end;
}
.projects .projects__box .projects__info {
  width: 24.6875rem;
  background: #1f2937;
  border: 1px solid #4f46e5;
  box-shadow: 0px 0px 2px rgba(165, 180, 252, 0.4);
  border-radius: 8px;
  padding: 2rem 1.25rem;
  position: relative;
}
.projects .projects__box .projects__info::after {
  content: "";
  width: 18px;
  height: 78px;
  background: url(/assets/img/retangulo.svg) no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.projects .projects__box .projects__info .projects__title {
  font: 400 1.125rem/1.33 "Comfortaa";
  text-transform: uppercase;
  color: #f3f4f6;
  margin-bottom: 1.5rem;
}
.projects .projects__box .projects__info .projects__desc {
  font: 400 1rem/1.5 "Comfortaa";
  color: #a5b4fc;
  margin-bottom: 0.75rem;
}
.projects .projects__box .projects__info .projects__list {
  display: grid;
  gap: 0.625rem;
  color: #f5f5f5;
  margin-bottom: 5rem;
}
.projects .projects__box .projects__info .projects__list .projects__item {
  display: flex;
  gap: 0.5rem;
}
.projects .btn__box {
  display: grid;
  justify-content: start;
  gap: 1.25rem;
}
.projects .btn__box .btn--transparent {
  justify-self: stretch;
}
.projects .btn--transparent {
  justify-self: center;
}

.footer {
  max-width: 77.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}
.footer .footer__title {
  font: 700 1.25rem/22px "Comfortaa";
  text-transform: uppercase;
  color: #c7d2fe;
  margin-bottom: 1.5rem;
}
.footer .footer__contact {
  display: grid;
  gap: 1rem;
  margin-bottom: 3.75rem;
}
.footer .footer__contact .footer__link:link,
.footer .footer__contact .footer__link:visited {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #f5f5f5;
}
.footer .footer__contact .footer__link:link svg,
.footer .footer__contact .footer__link:visited svg {
  width: 1rem;
}
.footer .footer__list {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3.75rem;
}

/*# sourceMappingURL=style.css.map */
